---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/strategy/info.md";
---

<DemoLayout name="strategy" title="Strategy Demo">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>