<div class="header-height ge-main-background"></div>

<div class="hero-box ge-linear-gradient-bg">
  <div class="center">
    <div class="text-left" >
      <h1>JavaScript data table with awesome&nbsp;UX</h1>
      <div class="ge-display-none-lt-md">&nbsp;</div>

      <p>A front-end component that combines performance (fast rendering, large datasets) with awesome&nbsp;UX.</p>
      <p>Works with Angular, Vue, React, Svelte, Solid and plain JavaScript</p>
      <br>
      <p><ge-typewriter class="hero-medium"></ge-typewriter></p>
    </div>
  </div>
  <div class="ge-display-none-lt-md center-cl-2">
    <img class="welcome-img" src="assets/img/hero.png" alt="Heatmap">
  </div>
</div>
