.hero-box {
  height: calc(100vh - var(--ge-header-height));
  width: 100%;

  display: grid;
  grid-template-columns: minmax(400px, 50%) 1fr;

  .center {
    display: grid;
    place-items: center;
    align-items: center;
  }
  .center-cl-2 {
    display: grid;
    place-items: start;
    align-items: center;
  }

  .text-left {
    p {
      font-size: 20px;
      line-height: 22px;
      margin-top: 22px;
    }
    h1 {
      font-size: 60px;
      line-height: 62px;
    }
    max-width: 580px;
    padding-left: 24px;
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
  .welcome-img-outer-div {
    animation: float linear 2.5s infinite alternate;
  }

  .welcome-img {
    width: 450px;
    margin-top: 40px;
  }

  > div {
    width: 100%;
    height: min(100%, var(--heroHeight));
    color: #fff;
    display: grid;
    place-items: center;
    align-items: start;

    .ge-typewriter-div {
      margin-top:  max(130px, calc(50px + 50vh - var(--ge-welcome-img-height)/2 - 220px));
      padding: 0 40px;
      font-size: 18px;
      line-height: 22px;

      .content-title-div {
        text-align: center;
        font-size: 24px;
      }
    }
  }


}

