<div class="features">
  <div class="feature-box">
    <div class="left text-div">
      <h2>Summarize</h2>
      <ul>
        <li>Handle large datasets easily</li>
        <li>Fully-featured (advanced sorting and filtering)</li>
        <li>Highly customizable data grid</li>
        <li>Outstanding performance</li>
        <li>No third-party dependencies</li>
        <li>UI-agnostic</li>
      </ul>
    </div>
    <div class="right img-div ge-display-none-lt-sm">
      <img alt="." src="assets/screens/crypto.png">
    </div>
  </div>
</div>
