<guiexpert-table
  [tableModel]="tableModel1"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  [tableModel]="tableModel2"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  [tableModel]="tableModel3"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>
<br>

<guiexpert-table
  [tableModel]="tableModel4"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  [tableModel]="tableModel"
  [tableOptions]="tableOptions"
  class="big-table-div"
></guiexpert-table>
