<guiexpert-table
  (tableReady)="onTable1Ready($event)"
  [tableModel]="tableModel1"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  (tableReady)="onTable2Ready($event)"
  [tableModel]="tableModel2"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  (tableReady)="onTable3Ready($event)"
  [tableModel]="tableModel3"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<br>

<guiexpert-table
  (tableReady)="onTableReady($event)"
  [tableModel]="tableModel"
  [tableOptions]="tableOptions"
  class="big-table-div"
></guiexpert-table>
