
.ge-header {
  padding: 0 16px var(--ge-header-height) 16px;
}

h1 {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: center;

  > div {
    display: inline-block;
  }

  .logo {
    display: inline-block;
    width: 40px;

    .logo-fill-color-2 {
      fill: rgba(0, 0, 0, 0.5)
    }
  }

  .title {
    font-size: 44px;
  }
}

.getstarted-grid {
  --link-color: #0086db;
  --min-column-size: 24rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));

  ul.btn-list {
    padding-inline-start: 0;

    li {
      list-style-type: none;
    }

    &.button-and-text {
      li {
        display: grid;
        //grid-template-rows: minmax(270px, 33%) 1fr;
        margin-bottom: 1rem;

        a, button {
          text-align: left;
          justify-content: left;
        }
      }
    }
  }

  a,
  .mat-mdc-button.mat-primary {
    color: var(--link-color);
  }
}

h2 {
  font-size: 22px;
  margin: 40px 0 20px 0;
}
