

a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
}

.logo-fill-color-0,
.logo-fill-color-1,
.logo-fill-color-2,
.logo-fill-color-3 {
  fill: var(--color-text);
  stroke: var(--color-text);
}

header:not(.fixed-header) .logo-fill-color-0,
header:not(.fixed-header) .logo-fill-color-1,
header:not(.fixed-header) .logo-fill-color-2,
header:not(.fixed-header) .logo-fill-color-3 {
  fill: var(--color-background);
  stroke: var(--color-background);
}

.hero .logo-fill-color-0,
.hero .logo-fill-color-1,
.hero .logo-fill-color-2,
.hero .logo-fill-color-3 {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.ge-positive-text-color {
  color: var(--ge-positive-text-color);
}

.ge-negative-text-color {
  color: var(--ge-negative-text-color);
}
.ge-positive-bg {
  background-color: var(--ge-positive-bg) !important;
}

.ge-negative-bg {
  background-color: var(--ge-negative-bg) !important;
}


.demo-content-div a {
  text-decoration: underline;
}
.demo-content-div p {
  margin: 20px 0;
}


html {
  --gradient-1: #1e0061;
  --gradient-2: #1d46f3;
  --gradient-3: #c364ff;
  --gradient-4: #ff4173;
}
.ge-linear-gradient-bg {
  background-image: linear-gradient(90deg,var(--gradient-1),var(--gradient-2) 27%,var(--gradient-3) 77%,var(--gradient-4));
}

.text-switcher {
  font-weight: bold;
  --text-height: 1em;
  --line-height: calc(var(--text-height) * 1.15);

  position: relative;
  display: inline-flex;
  align-items: flex-start;
  height: var(--line-height);
  line-height: var(--line-height);

  text-align: left;
  overflow: hidden;

  .text-switcher-word {
    align-items: flex-start;
    position: relative;
    width: max-content;
    height: var(--line-height);
    line-height: var(--line-height);
    display: inline-flex;
    flex-direction: column;
    /*animation: switchWords 14s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;*/
    /*animation: switchWords 14s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;*/
    animation: switchWords 14s cubic-bezier(0.165, 0.84, 0.44, 1 ) infinite;
    animation-direction: normal;

    > div {
      height: var(--line-height);
      line-height: var(--line-height);
    }
  }
}

@keyframes switchWords {
  0% { transform: translateY(calc(var(--line-height) * 0)); }
  17% { transform: translateY(calc(var(--line-height) * -1)); }
  32% { transform: translateY(calc(var(--line-height) * -2)); }
  50% { transform: translateY(calc(var(--line-height) * -3)); }
  66% { transform: translateY(calc(var(--line-height) * -4)); }
  84% { transform: translateY(calc(var(--line-height) * -5)); }
  99.999% { transform: translateY(calc(var(--line-height) * -6)); }
  100% { transform: translateY(calc(var(--line-height) * 0)); }
}