
.app-ng-content-div {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: calc(100vh - 68px);
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

