<div class="ge-padding">

  <p>
    For this demo we are using following template code.
    The syntax will depend on the framework you are using.
    Here is an example of the Angular syntax:
  </p>
  <source-code [language]="'language-markup'" [text]="tag"></source-code>

  <p>
    We are fetching JSON data from the backend and store it's result in <i>this.data</i>:
  </p>
  <source-code [text]="fetch"></source-code>


  <p>
    In this case, we have a nested JSON structure:
  </p>
  <source-code [text]="json"></source-code>

  <p>
    We create a column definition. Because of the nested object structure, we use for <i>laureate.surname</i> and
    <i>laureate.surname</i> the dot notation:
  </p>
  <source-code [text]="coldef"></source-code>

  <p>
    The table model will be created by the helper function <i>createByObjectArrayParam</i>:
  </p>
  <source-code [text]="tm"></source-code>

  <p>
    After that we overwrite (monkey patch) the <i>getColspanAt</i> and <i>getRowspanAt</i> of the header and body area model:
  </p>
  <source-code [text]="colspan"></source-code>

  <p>
    You will find the full source code of this example here: <a href="src/app/demos/prizesdemo/prizes-demo.component.ts" target="_blank">prizes-demo.component.ts</a>
  </p>
</div>
