
:host {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

pre {
  border: 0.5px solid #DBDBDB;
  border-radius: 10px;
  margin-bottom: 0;
}


.copy-button {
  position: absolute;
  top: 5px;
  right: -5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.copy-button:hover, .copy-button:focus {
  transform: scale(1.1);
}

.copy-button:active {
  transform: translateY(2px) scale(1.05);
}

