
<div class="header-height"></div>



<div class="ge-padding content">

  <h2 class="feature">Get Started / Angular</h2>
  <p></p>

  <p>
    You can find it on stackblitz:
    <app-stackblitz [text]="'stackblitz-guiexpert-angular-simple'"></app-stackblitz>
  </p>
  <p></p>

  <p>
    Add the following two NPM packages to your existing angular project
    (run this in your project root directory):
  </p>
  <source-code [language]="'language-shell'" [text]="text1"></source-code>

  <p>
    Import the (standalone) TableComponent in your angular module
    (or in your angular standalone component, if you don't work with modules):
  </p>
  <source-code [text]="text2"></source-code>


  <p>
    Add guiexpert-table component to a template:
  </p>
  <source-code [language]="'language-markup'" [text]="text3"></source-code>

  <p>
    Be sure, that your div container expands. Add this CSS rule to your component's style.
  </p>
  <source-code [language]="'language-css'" [text]="contentStyle"></source-code>


  <p>
    Include (from a CDN) the predefined @guiexpert/table CSS rules to your project You can do it by adding this tag in your index.html...
  </p>
  <source-code [language]="'language-markup'" [text]="predefinedCss1"></source-code>

  <p>
    ...or (in case of an angular project) by adding it in your angular.json file. In this case you can use the local copy of the node module:
  </p>
  <source-code [language]="'language-markup'" [text]="predefinedCss2"></source-code>


  <p>
    Add two properties (tableModel and tableOptions) to the component.
    Generate a simple table model by the helper function <i>TableFactory.createTableModel</i>.
    The properties <i>headerData</i>, <i>bodyData</i>, and <i>footerData</i> are simple arrays of arrays.
  </p>
  <source-code [text]="text4"></source-code>

  <p>
    Here you cam see an alternate simple table model creation:
  </p>
  <source-code [text]="text5"></source-code>



  <app-doc-and-demo-link></app-doc-and-demo-link>
  <app-back-to-getstarted></app-back-to-getstarted>




</div>
