
<div class="header-height"></div>


<div class="ge-padding">
  <h2 class="feature">Get Started</h2>
  <h3>Angular</h3>
  <div class="gap"></div>
</div>

<div class="ge-padding content">

  <p>
    Add the following two NPM packages to your existing angular project
    (run this in your project root directory):
  </p>
  <source-code [language]="'language-shell'" [text]="text1"></source-code>

  <p>
    Import the (standalone) TableComponent in your angular module:
  </p>
  <source-code [text]="text2"></source-code>


  <p>
    Add guiexpert-table component to a template:
  </p>
  <source-code [language]="'language-markup'" [text]="text3"></source-code>

  <p>
    Add two properties (tableModel and tableOptions) to the component:
  </p>
  <source-code [text]="text4"></source-code>

</div>

<div class="ge-padding">
  <p>
    There are numerous possibilities to create table models.
    Please refer to the <a href="/doc">Documentation</a> for further information or the <a href="/demos">Demo</a> section
    for examples.
  </p>

  <div>
    <button [routerLink]="['/getstarted']" color="primary" mat-flat-button>
      <mat-icon>arrow_back_ios_new</mat-icon> Back
    </button>
  </div>
</div>
