<div class="ge-padding">
  <p>
    For this demo we implement the model class <i>DemoRowAndColspanAreaModel</i>, which extends the <i>AreaModelArrayOfArrays</i>.
    The <i>getColspanAt()</i> and <i>getRowspanAt()</i> are overwritten by us.
  </p>
  <source-code [language]="'language-markup'" [text]="model"></source-code>

  <p>
    For more details see: <a target="_blank" href="https://github.com/guiexperttable/ge-table/blob/main/apps/table-website/src/app/demos/rowandcolspan/demo-row-and-colspan.component.ts">demo-row-and-colspan.component.ts</a>
  </p>

</div>
