<div class="features">
  <div class="feature-box">
    <div class="left text-div">
      <h2>License</h2>
      <ul>
        <li>Open source</li>
        <li>Free for individuals and non-commercial users</li>
        <li>For our valued business customers, we offer highly attractive licensing terms.</li>
      </ul>

      <div class="law-div">
        <mat-nav-list>
          <a href="#" routerLink="/license" mat-list-item>
            <mat-icon>gavel</mat-icon>
            <span>License Details</span>
          </a>

          <a href="#" routerLink="/pricing" mat-list-item>
            <mat-icon>attach_money</mat-icon>
            <span>Pricing</span>
          </a>

          <mat-divider></mat-divider>

          <a href="#" routerLink="/law/imprint" mat-list-item>
            <mat-icon>import_contacts</mat-icon>
            <span>Imprint</span>
          </a>

          <a href="#" routerLink="/law/cou" mat-list-item>
            <mat-icon>local_police</mat-icon>
            <span>Conditions of Use</span>
          </a>

          <a href="#" routerLink="/law/privacy" mat-list-item>
            <mat-icon>sentiment_satisfied_alt</mat-icon>
            <span>Privacy Notice</span>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </div>
</div>
