<div class="ge-padding">
  <p>
    Add the table tag to your template.
    The syntax will depend on the framework you are using.
    Here is an example of the Angular syntax:
  </p>
  <source-code [language]="'language-markup'" [text]="tag"></source-code>

  <p>
    Add an filter input field to your template.
    In our demo we used an absolute position of the filter.
    Here you will see the angular syntax :
  </p>
  <source-code [language]="'language-markup'" [text]="tag2"></source-code>

  <p>
    Here you can see the creating of this model.
    First we create the column definitions.
    After that you see the creation of the table
    options (<i>createOrderTableOptions()</i>) and the table model (<i>TableFactory.createTableModel...)</i>).
    The model of this demo can be found here:
    <a target="_blank" href="https://github.com/guiexperttable/ge-table/blob/main/libs/demo-table-models/src/lib/createOrderModel.ts">createOrderModel.ts</a>.
  </p>
  <source-code [text]="model"></source-code>

  <p>
    The create model will be assigned to the to class fields.
    The <i>externalFilterFunction</i> is assign to our local <i>filterFn</i> in our component:
  </p>
  <source-code [text]="assignModel"></source-code>

  <p>
    The <i>filterFn</i> in this demo is very slow.
    Don't use <i>JSON.stringify</i> in your production code:
  </p>
  <source-code [text]="filter"></source-code>

</div>


