
.ge-transparent-bg {
  background: transparent;
}

.ge-main-background {
  background: var(--ge-main-background);
}

.ge-main-background-semi-transparent {
  background: rgba(255, 255, 255, 0.4);
}

.ge-main-color {
  color: var(--ge-main-color);
}

.ge-main-bg {
  background-color: var(--ge-main-color);
}

.ge-primary-color {
  color: var(--ge-primary);
}

.ge-primary-bg {
  background-color: var(--ge-primary);
}

.ge-secondary-color {
  color: var(--ge-secondary);
}

.ge-secondary-bg {
  background-color: var(--ge-secondary);
}

.ge-tertiary-color {
  color: var(ge-tertiary);
}

.ge-tertiary-bg {
  background-color: var(ge-tertiary);
}
