
:host {
  --ge-welcome-rotate: 0deg;
  --ge-welcome-img-width-number: 500;
  --ge-welcome-img-width: calc(var(--ge-welcome-img-width-number) * 1px);
  --ge-welcome-img-height: calc(var(--ge-welcome-img-width-number)/2 * 1px);
  --ge-welcome-img-transform: var(--ge-welcome-img-height);
  --ge-welcome-img-transform-neg: calc(-1 * var(--ge-welcome-img-width-number) / 2 * 1px);
  --ge-headline-hero-super-content: ' ';
  --ge-headline-hero-super-display: grid;
  --ge-hero-text-color: #fff;
  --ge-hero-action-opacity: 0;

  margin: 0;
  overflow-y: scroll;
  overflow-x: clip;
  height: 100vh;
  scroll-snap-type: y proximity;
  background-color: transparent;
}

.hero-text {
  position: fixed;
  top: max(80px, calc(50vh - var(--ge-welcome-img-height)/2 - 220px));
  left: calc(50vw - 400px);
  transition: all .3s;
  height: 100px;
  width: 800px;
  place-items: center;
  background: transparent;
  color: var(--ge-hero-text-color);
  font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
  display: var(--ge-headline-hero-super-display);

  .headline-hero-super {
    font-size: 66px;
    letter-spacing: -1px;
  }
  .headline-hero-super::after {
    content: var(--ge-headline-hero-super-content);
  }

  &.sideMenuNeedsSpace {
    left: calc(50vw - 400px + 110px);
  }


}


.hero-action {
  position: fixed;
  top: calc(50vh + var(--ge-welcome-img-height)/2 + 60px);
  transition: all .3s;
  left: calc(50vw - 100px);
  height: 100px;
  width: 200px;
  display: var(--ge-headline-hero-super-display);
  place-items: center;
  background: transparent;
  opacity: var(--ge-hero-action-opacity);
  &.sideMenuNeedsSpace {
    left: calc(50vw - 100px + 110px);
  }
}

.hidden-1 {display: block;}
.hidden-2 {display: none;}
.hidden-3 {display: none;}
.hidden-3 {display: none;}

section.transparent {
  background: transparent;
}

section.xxx {
  background-image: url("../../assets/img/bg-quantum-gradient-01.svg");
  //background-image: url('../../assets/img/bg-quantum-gradient-02.svg');
  //background-image: url('../../assets/img/bg-liquid-cheese.svg');
  background-size: cover;
}


.scene {
  z-index: -3;
  position: fixed;
  top: calc(50vh - var(--ge-welcome-img-height)/2);
  left: calc(50vw - var(--ge-welcome-img-width)/2);
  transition: all .3s;

  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ge-welcome-img-height);
  width: var(--ge-welcome-img-width);
  background: transparent;

  &.sideMenuNeedsSpace {
    left: calc(50vw - var(--ge-welcome-img-width)/2 + 110px);
  }

  .cube {
    transform-style: preserve-3d;
    position: relative;
    width: var(--ge-welcome-img-width);
    height: var(--ge-welcome-img-height);
    transform-origin: center center;

    transform: scale(var(--ge-welcome-zoom)) rotateY(var(--ge-welcome-rotate));
    opacity: var(--ge-welcome-opacity);
    //animation: rotate 10s ease-in-out infinite;

    .side {
      position: absolute;
      width: var(--ge-welcome-img-width);
      height: var(--ge-welcome-img-height);
      background-color: transparent;
      opacity: 1;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid var(--ge-header-border-bottom);
      border-radius: 10px;
      &.front {
        transform: translateZ(var(--ge-welcome-img-transform));
        background-image: url(/assets/screens/tree.png);
      }
      &.right {
        transform: translateX(var(--ge-welcome-img-transform)) rotateY(90deg);
        background-image: url(/assets/screens/edit.png);
      }
      &.back {
        transform: translateZ(var(--ge-welcome-img-transform-neg)) rotateX(180deg) rotateZ(180deg) ;
        background-image: url(/assets/screens/themecreator.png);
      }
      &.left {
        transform: translateX(var(--ge-welcome-img-transform-neg)) rotateY(90deg) scaleX(-1);
        background-image: url(/assets/screens/heatmap.png);
      }
    }
  }
}













@keyframes rotate {
  0% { transform: rotateX(0)}
  25% { transform: rotateY(-90deg)}
  50% { transform: rotateY(-180deg)}
  75% { transform: rotateY(-270deg)}
  100% { transform: rotateY(-360deg)}
}

.demo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.height-50-vh {
  height: 50vh;
}





.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background-color: black;
  transition: all 0.3s ease;
}







/* progress circle */

.progress-circle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 0.5;
}

.progress-circle {
  width: 80px;
  height: 80px;
}

.progress-circle-bar {
  fill: none;
  stroke: black;
  stroke-width: 5;
  stroke-dasharray: 283;
  stroke-dashoffset: var(--ge-stroke-dashoffset, 283);
  transform-origin: center;
  transition: stroke-dashoffset 0.3s ease;
}


.progress-background {
  fill: transparent;
  stroke: #ededed;
  stroke-width: 5;
  stroke-dasharray: none;
}

.getstarted-button {
  background-color: var(--ge-primary);
  color: var(--ge-text-on-primary, #fff);
  font-size: 22px;
  font-stretch: condensed;
  height: 50px;
  border-radius: 25px !important;
}
