
<div class="content ge-padding">

  <h2 class="feature">Get Started</h2>
  <h3>Choose your framework</h3>
  <div class="gap"></div>


  <div class="getstarted-grid get-started-div">
    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','angular']" href="#">
            <div style="transform: translateX(6px) translateY(4px);">
              <app-angular-logo />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','angular']" mat-button>Angular</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','vue']" href="#">
            <div style="transform: scale(0.9) translateY(10px);">
              <app-vue-logo />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','vue']" mat-button>Vue</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','react']" href="#">
            <div style="transform: translateY(4px);">
              <app-react-logo />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','react']" mat-button>React</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','preact']" href="#">
            <app-preact-logo />
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','preact']" mat-button>Preact</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','svelte']" href="#">
            <div style="transform: scale(0.8) translateY(-10px);">
              <app-svelte-logo style="width: 30px;" />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','svelte']" mat-button>Svelte</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','solid']" href="#">
            <app-solid-logo />
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','solid']" mat-button>Solid</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','webcomponent']" href="#">
            <div style="transform: translateY(6px);">
              <app-web-component-logo />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','webcomponent']" mat-button>Web Component</button>
    </div>

    <div>
      <div class="logo-outer">
        <div class="logo">
          <a [routerLink]="['/getstarted','plainjs']" href="#">
            <div style="transform: scale(0.8);">
              <app-js-logo />
            </div>
          </a>
        </div>
      </div>
      <button [routerLink]="['/getstarted','plainjs']" mat-button>Plain JS</button>
    </div>
  </div>
</div>

