
div.content {
  min-width: min(100%, 600px);
}

.getstarted-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));

  > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;

    .mat-mdc-button:not(:disabled),
    .mdc-button__label {
      color: var(--ge-main-color);
    }
  }

  .logo-outer {
    text-align: center;
    padding-left: 10px;

    .logo {
      width: 100px;
      height: 100px;
      background-color: var(--ge-decent-background);
      border-color: var(--ge-decent-background);
      border-radius: 50%;
      overflow: clip;
      display: grid;
      place-items: center;

      &:hover,
      &:focus-visible {
        transform: translateY(-0.75rem) scale(1.2);
        transition: transform 250ms;
        background-color: var(--ge-primary);
        animation: size-animation 1s ease 1;
      }

      > a,
      > a > *,
      > a > * > svg {
        display: block;
        width: 80px;
        height: 80px;
      }
    }
  }
}
