---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/downloadexcel/info.md";
---

<DemoLayout name="downloadexcel" title="Download Excel">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>