
.filter-div {
  width: 100vw;
  padding-left: 100px;
  padding-top: 20px;
  height: 80px;
}

.slider {
  width: 300px;
}

.table-div {
  display: block;
  margin: 0 0 0 20px;
  width: calc(100% - 40px);
  max-width: 700px;
  height: calc(100% - 200px);
  border: solid 1px #bbb;
}

