<div class="ge-padding">
  <p>
    Add an table tag to your template.
    The syntax will depend on the framework you are using.
    Here is an example of the Angular syntax:
  </p>
  <source-code [language]="'language-markup'" [text]="tag"></source-code>

  <p>
    Here you find the code here: <a target="_blank" href="https://github.com/guiexperttable/ge-table/blob/main/apps/table-website/src/app/demos/styledemo/stylecolor/demo-style-area-model.ts">demo-style-area-model.ts</a>
    The code of the cell renderer is here: <a target="_blank" href="https://github.com/guiexperttable/ge-table/blob/main/apps/table-website/src/app/demos/styledemo/stylecolor/demo-style-color-cell-renderer.ts">demo-style-color-cell-renderer.t</a>
  </p>

  <p>
    The model is created by this helper method <i>TableFactory.createTableModel(...)</i>:
  </p>
  <source-code [language]="'language-markup'" [text]="model"></source-code>

</div>
