<div class="header-height ge-transparent-bg"></div>

<div class="features center-all">
  <div class="feature-box">
    <div class="left text-div">
      <h2>Features</h2>
      <ul>
        <li>Excellent performance for <strong>large</strong> tables by vertical
          and horizontal <strong>virtual scrolling</strong>
        </li>
        <li>Column Interactions (resize, reorder)</li>
        <li>Sorting Rows</li>
        <li>Row, Column, and Range Selection</li>
        <li>Single and Multi Selection</li>
        <li>UI-agnostic</li>
        <li>Row and Column Spanning</li>
        <li>Fixed Columns (Left and Right)</li>
      </ul>
    </div>
    <div class="right img-div ge-display-none-lt-sm">
      <img alt="." src="assets/screens/tree.png">
    </div>
  </div>
</div>
