

<div class="header-height"></div>


<div class="ge-padding content">
  <h2 class="feature">Get Started / Plain JavaScript</h2>
  <p></p>

  <p>
    You can find it on stackblitz:
    <app-stackblitz [text]="'plain-html-5u9cqs'"></app-stackblitz>
  </p>
  <p></p>

  <p> Add the following NPM package to your existing plain js project
    (run this in your project root directory):
  </p>
  <source-code [language]="'language-shell'" [text]="text1"></source-code>

  <p> Add an empty <b>&lt;div></b> element to your html code:
  </p>
  <source-code [language]="'language-markup'" [text]="text2"></source-code>

  <p>
    Be sure, that your div container expands. Add this CSS rule to your component's style.
  </p>
  <source-code [language]="'language-css'" [text]="contentStyle"></source-code>


  <p>
    Include (from a CDN) the predefined &#64;guiexpert/table CSS rules to your project. You can do it by adding this tag in your index.html...
  </p>
  <source-code [language]="'language-markup'" [text]="predefinedCss1"></source-code>

  <p>
    If you are working with plain JS, you don't need to do this.
    If you are using TypeScript as a language, please import the following classes:
  </p>
  <source-code [text]="text3"></source-code>

  <p>
    Create a table model. Select ('querySelector') the <b>&lt;div></b> element and create a table scope.
    Finally, call <b>firstInit()</b> at least once.
    On the right side, you will see the plain TS version.
    For plain JS, remove <b>': TableModelIf'</b>.
  </p>
  <source-code [text]="text4"></source-code>


  <app-doc-and-demo-link></app-doc-and-demo-link>
  <app-back-to-getstarted></app-back-to-getstarted>
</div>

