<section class="padding-top dark ge-padding radial-circle dark xxx">
  <div class="header-height"></div>

  <h2 class="feature">Demos</h2>
  <p>
    On this page, you will find a lot of demos of our fantastic table component. <br>
    If you are missing something, please send us a <a href="mailto:info&#64;gui.expert">message</a>.
  </p>
</section>

<section class="radial-circle dark">
  <div class="header-height"></div>
  <div class="demos-content">

    <div class="box">
      <div class="text-div">
        <h2>Simple Table: Array of Arrays </h2>
        <div class="img-div">
          <div style="background-size: 200%;background-image: url(/assets/screens/simple.png)"></div>
        </div>
        <p>
          An array of arrays orderData structure can be easily converted in a
          <a [routerLink]="['/api/tsdoc','classes','TableModel.html']" href="#">TableModel</a>
          with help of TableFactory
          <a
            href="/assets/docs/classes/TableFactory.html#createByArrayOfArray"
            target="blank">.createTableModel()</a>.
        </p>
        <button
          [routerLink]="['/demo/simple/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Simple Table Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Object Array </h2>
        <div class="img-div">
          <div style="background-size: 100%;background-image: url(/assets/screens/order.png)"></div>
        </div>
        <p>
          The most common use case is an array of business objects.
          This array can be easily converted to a table model.
          An array of <a
          [routerLink]="['/api/tsdoc/interfaces/ColumnDefIf.html']"
          href="#">ColumnDefIf</a>s is used to define which object property is displayed in which table column.
        </p>
        <button
          [routerLink]="['/demo/order/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Order Demo
        </button>
        <button
          [routerLink]="['/demo/prizes/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Nobel Prizes Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Self-written Table Model </h2>
        <div class="img-div">
          <div style="background-size: 100%;background-image: url(/assets/screens/selfwritten.png)"></div>
        </div>
        <p>
          A table model does not necessarily need a orderData structure/object. You can write table models yourself,
          as a developer you have full control over what is to be rendered in which cell. Here are a few examples:
        </p>
        <button
          [routerLink]="['/demo/selfwritten/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Table Model Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Events </h2>
        <div class="img-div">
          <div style="background-size: 200%;background-image: url(/assets/screens/event.png)"></div>
        </div>
        <p>
          The table can send many different events.
          In the following example, we demonstrate listening for mouse events.
        </p>
        <button
          [routerLink]="['/demo/mouseevent/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Mouse Events Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Look and Feel </h2>
        <div class="img-div">
          <div style="background-size: 100%;background-image: url(/assets/screens/themecreator.png)"></div>
        </div>
        <p>
          There are many ways to change the style of the table.
          Here we show how to change the global style using CSS
          variables.
        </p>
        <button
          [routerLink]="['/demo/laf/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Look & Feel Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Cell Renderer </h2>
        <div class="img-div">
          <div style="background-size: 100%;background-image: url(/assets/screens/heatmap.png)"></div>
        </div>
        <p>
          The style of a table cell can be changed by setting a cell renderer,
          by setting a cell class, and by setting a style.
        </p>
        <button
          [routerLink]="['/demo/styledemo/simple/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Custom Renderer Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/styledemo/heatmaptemp/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Heatmap Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/styledemo/heatmapseattle/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Temperatures Demo
        </button>
      </div>
    </div>


    <div class="box">
      <div class="text-div">
        <h2>Rowspan and Colspan </h2>
        <div class="img-div">
          <div style="background-size: 200%;background-image: url(/assets/screens/time.png)"></div>
        </div>
        <p>
          Row and colspan can be defined in the table body as well as in the header and footer.
        </p>
        <button
          [routerLink]="['/demo/rowandcolspan/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Row/Colspan Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/timetable/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Time Table Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/timetableevents/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Time Table (Events)
        </button>
        <br>
        <button
          [routerLink]="['/demo/prizes/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Nobel Prizes Demo
        </button>
      </div>
    </div>


    <div class="box">
      <div class="text-div">
        <h2>Tree Table by Tree Model </h2>
        <div class="img-div">
          <div style="background-size: 200%;background-image: url(/assets/screens/tree.png)"></div>
        </div>
        <p>
          There are many ways to represent orderData hierarchically. We show here how to build tree tables.
        </p>
        <button
          [routerLink]="['/demo/treepeople/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Tree Table (People) Demo
        </button>
      </div>
    </div>



    <div class="box" *ngIf="wipVisible">
      <div class="text-div">
        <h2>Header Groups</h2>
        <p>
          Header cell hierarchy.
        </p>
        <button
          [routerLink]="['/demo/cellgroup/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open cell group demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Using the Table API </h2>
        <div class="img-div">
          <div style="background-size: 200%;background-image: url(/assets/screens/slider.png)"></div>
        </div>
        <p>
          After the first rendering of a table, a
          <a [routerLink]="['/api/tsdoc','classes','TableApi.html']" href="#">TableApi</a>
          service is emitted.
          With this service, you can do a lot of things: change cell values,
          change table column widths, scroll to a specific row, trigger a repaint, etc.
        </p>
        <button
          [routerLink]="['/demo/idfilter/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Filtering (Slider) Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/olympic/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Filtering (Input) Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Edit Table Data </h2>
        <div class="img-div">
          <div style="background-size: 180%;background-image: url(/assets/screens/edit.png)"></div>
        </div>
        <p>
          Data can not only be displayed but also edited by the user.
          We show you how to do it here:
        </p>
        <button
          [routerLink]="['/demo/treepeople/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Editing Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>High-Performance Rendering</h2>
        <div class="img-div">
          <div style="background-size: 150%;background-image: url(/assets/screens/crypto.png)"></div>
        </div>
        <p>
          Financial dashboard applications often display rapidly changing orderData.
          We show here how to do this with an incredible performance.
        </p>
        <button
          [routerLink]="['/demo/crypto/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Crypto Table Demo
        </button>
        <br>
        <button
          [routerLink]="['/demo/timetable/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Time Table Demo
        </button>
      </div>
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Sorting </h2>
        <div class="img-div">
          <div style="background-size: 150%;background-image: url(/assets/screens/sorting.png)"></div>
        </div>
        <p>
          Sorting rows by header double click. Sorting columns by drag and drop.
        </p>
        <button
          [routerLink]="['/demo/headerdblclick/run']"
          class="run-link"
          mat-flat-button
          color="primary">→ Open Sorting Demo
        </button>
      </div>
    </div>
  </div>
</section>

