

<div class="header-div">

  <mat-form-field appearance="fill">
    <mat-label>Selection Type</mat-label>
    <mat-select [(value)]="selectionType" (valueChange)="onSelectionParameterChange()">
      <mat-option *ngFor="let tp of selectionTypes" [value]="tp">{{tp}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Selection Mode</mat-label>
    <mat-select [(value)]="selectionMode" (valueChange)="onSelectionParameterChange()">
      <mat-option [value]="'single'">single</mat-option>
      <mat-option [value]="'multi'">multi</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="showShortcuts()">
    Shortcuts...
  </button>
</div>

<guiexpert-table
  (tableReady)="onTableReady($event)"
  *ngIf="tableModel"
  [tableModel]="tableModel"
  [tableOptions]="tableOptions"
  class="table-div"
></guiexpert-table>

<dialog class="shortcuts-dlg">
  <pre *ngIf="shortcutMapping">{{shortcutMapping|json}}</pre>
  <button autofocus (click)="closeDlg()">Close</button>
</dialog>
