<div class="header-height"></div>


<div class="ge-padding content">
  <h2 class="feature">Get Started / Solid</h2>
  <p></p>

  <p> Add the following two NPM packages to your existing solid project
    (run this in your project root directory):
  </p>
  <source-code [language]="'language-shell'" [text]="text1"></source-code>

  <p> Import the following classes in your component:
  </p>
  <source-code [language]="'language-markup'" [text]="text3"></source-code>

  <p> Add this code to the component:
  </p>
  <source-code [text]="text4"></source-code>

  <app-doc-and-demo-link></app-doc-and-demo-link>
  <app-back-to-getstarted></app-back-to-getstarted>
</div>
