<div class="ge-padding">

  <p>
    The model of this demo can be found here: <a target="_blank" href="https://github.com/guiexperttable/ge-table/blob/main/apps/table-website/src/app/demos/timetable/timetable-demo.component.ts">timetable-demo.component.ts</a>
  </p>

  <p>
    The method <i>sendUpdateTableModelEvents()</i> is triggered up to 60 times per second.
    The function <i>getBodyModel()</i> returns the body model, new values are set by  <i>bodyModel.setValue(row, col, val)</i>.
  </p>

  <p>In this demo you can also see that the first, second and last columns are fixed.</p>
  <p>The header has two rows with colspan and rowspan.</p>

</div>
