
<div class="header-height"></div>

<section class="ge-padding padding-top flex-container dark">
  <h1>Condition of use</h1>

  <div>
    <h3>General</h3>
    <p>
      The operator of this website is Dr. Marc Kronberg, Leopoldsweg 22, 61348 Bad Homburg.
    </p>
    <p>
      By using this website, you agree to these terms of use. These terms of use also apply if you access the website or
      parts thereof from other websites.
    </p>
    <h3>Content</h3>
    <p>
      The content of this website is created with the utmost care. However, the operator does not guarantee the
      accuracy, completeness, and timeliness of the provided content.
    </p>

    <h3>Availability</h3>
    <p>
      The operator will make every effort to ensure uninterrupted availability of the service. However, downtime cannot
      be completely ruled out, despite all due care. The operator reserves the right to change or discontinue its
      offering at any time. The operator does not assume any liability for interruptions or other disruptions.
    </p>
  </div>

  <div>
    <h3>Permitted Use</h3>
    <p>
      This website may only be used for the following purposes: (1.) Viewing this website.<br />
      <br />
      Any other use of this website without the prior written consent of the operator is prohibited.<br />
      <br />

      General
      The operator of this website is Dr. Marc Kronberg, Leopoldsweg 22, 61348 Bad Homburg.

      By using this website, you agree to these terms of use. These terms of use also apply if you access the website or
      parts thereof from other websites.

      Content
      The content of this website is created with the utmost care. However, the operator does not guarantee the
      accuracy, completeness, and timeliness of the provided content.

      Availability
      The operator will make every effort to ensure uninterrupted availability of the service. However, downtime cannot
      be completely ruled out, despite all due care. The operator reserves the right to change or discontinue its
      offering at any time. The operator does not assume any liability for interruptions or other disruptions.

      Permitted Use
      This website may only be used for the following purposes: (1.) Viewing this website.

      Any other use of this website without the prior written consent of the operator is prohibited.

      Reproduction, editing, distribution, public reproduction, or any other form of commercial use of the content of
      this website is not permitted. The use of automated systems or automated software to extract content from this
      website is also prohibited. Accessing the content of the website in any way other than through the user interface
      of the website is not permitted.<br />
      <br />
      Any measures that may interfere with the functioning of the website are prohibited. This includes measures that
      may cause excessive or unreasonable strain on the website infrastructure.<br />
      <br />
      Without prejudice to the enforcement of other rights, the operator reserves the right to block access to this
      website at any time in the event of a violation of these terms of use.
    </p>
  </div>

  <div>
    <h3>Intellectual Property</h3>
    <p>
      All intellectual property rights, including copyright, database rights, trademarks, and designs (as well as the
      arrangement and presentation of the website), belong to the operator or its licensors. Without prior written
      consent, you may not reproduce, edit, distribute, publicly reproduce, or otherwise use the content of the website
      or the underlying software code, either in whole or in part.
    </p>
  </div>

  <div>
    <h3>Links to Other Websites</h3>
    <p>
      This website may contain links to third-party websites. While the operator initially checks the external content
      for potential civil or criminal liability, it does not constantly monitor the content for changes. Therefore, the
      operator assumes no responsibility for the content of external websites and does not endorse these websites and
      their content. If it becomes aware or is informed by others that the specific content to which it has provided a
      link triggers civil or criminal liability, it will remove the link.
    </p>
  </div>
</section>
