<div
  [ngClass]="{
    'dark': !light,
    'light': light
  }"
  class="custom-theme-div">

  <div class="toolbar">
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        (keyup)="onKeyup()"
        (dblclick)="setFilter('', false)"
        (blur)="selectVisible()"
        [(ngModel)]="filterText" matInput>
      <button
        matSuffix
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="bg-transparent"
        aria-label="Filter Presets">
        <mat-icon class="bg-transparent">keyboard_arrow_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setFilter('', false)">
        Filter All
      </button>
      <button mat-menu-item (click)="setFilter('+bg -select -column -row -hover -drag -dropped')">
        Table Background
      </button>
      <button mat-menu-item (click)="setFilter('+text -select')">
        All Text
      </button>
      <button mat-menu-item (click)="setFilter('+body +text -selected')">
        Body Text
      </button>
      <button mat-menu-item (click)="setFilter('+body +bg -selected')">
        Body Background
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="setFilter('+header +text -selected')">
        Header Text
      </button>
      <button mat-menu-item (click)="setFilter('+header +bg')">
        Header Background
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="setFilter('+border')">
        All Border
      </button>
      <button mat-menu-item (click)="setFilter('+horizontal +border')">
        Horizontal Border
      </button>
      <button mat-menu-item (click)="setFilter('+vertical +border')">
        Vertical Border
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="setFilter('+select +text')">
        Selection Text
      </button>
      <button mat-menu-item (click)="setFilter('+select +bg')">
        Selection Background
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Selection Macros">
      <mat-icon>task_alt</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="selectItems()">Select All</button>
      <button mat-menu-item (click)="selectItems('header')">Select Header</button>
      <button mat-menu-item (click)="selectItems('body')">Select Body</button>
      <button mat-menu-item (click)="selectItems('footer')">Select Footer</button>
      <button mat-menu-item (click)="selectItems('range')">Select Range</button>
      <button mat-menu-item (click)="selectItems('text')">Select Text</button>
      <button mat-menu-item (click)="selectItems('bg')">Select Background</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="unselectItems()">Unselect All</button>
      <button mat-menu-item (click)="unselectItems('header')">Unselect Header</button>
      <button mat-menu-item (click)="unselectItems('body')">Unselect Body</button>
      <button mat-menu-item (click)="unselectItems('footer')">Unselect Footer</button>
      <button mat-menu-item (click)="unselectItems('range')">Unselect Range</button>
      <button mat-menu-item (click)="unselectItems('text')">Unselect Text</button>
      <button mat-menu-item (click)="unselectItems('bg')">Unselect Background</button>

    </mat-menu>

    <button (click)="unSelectAll()" mat-stroked-button>Clear</button>
    <label>Sel: {{selectedCount}}</label>
    <label></label>

    <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Selection Macros">
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      <button
        mat-menu-item
        *ngFor="let theme of themes"
        (click)="setPredefinedTheme(theme)"
        [innerText]="theme"
        class="custom-theme-menu-item"
      ></button>
    </mat-menu>

    <div class="light-dark-div_" *ngIf="bigScreen">
      <button (click)="setTheme('dark')" *ngIf="light" mat-icon-button>
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button (click)="setTheme('light')" *ngIf="!light" mat-icon-button>
        <mat-icon>light_mode</mat-icon>
      </button>
    </div>

    <button (click)="exportCss()" color="primary" mat-flat-button>Export...</button>
  </div>


  <div class="content" [ngClass]="{big:bigScreen, small:!bigScreen}">

    <div class="grid">
      <guiexpert-table
        *ngIf="tableModel"
        (tableReady)="onTableReady($event)"
        (checkboxChanged)="onCheckboxChanged($event)"
        [tableModel]="tableModel"
        [tableOptions]="tableOptions"
      ></guiexpert-table>
    </div>


    <div class="content-right">
      <div class="oklch-picker">
        <div *ngFor="let a of arr" class="rows">
          <div
            (click)="setOkLch(a[0], a[1], h)"
            *ngFor="let h of hueValues"
            [style]="'background-color: oklch('+a[0]+'% '+a[1]+' '+h+')'">
          </div>
        </div>
      </div>


      GRAYS:<br>
      <div class="grid-100-cols">
        <div
          (click)="setOkLch(l, 0, 256, 100)"
          *ngFor="let l of percentages"
          [style]="'background-color: oklch('+l+'% 0 256 / 100%)'">
        </div>
      </div>

      SHORTCUTS:
      <div>
        <button (click)="setOkLch(0, 0, 0, 100)" mat-flat-button>Black</button>
        <button (click)="setOkLch(100, 0, 0, 100)" mat-flat-button>White</button>
        <button (click)="setOkLch(100, 0, 0, 0)" mat-flat-button>Transparent</button>
      </div>


      LIGHTNESS (0-100)<br>
      <div class="grid-100-cols">
        <div
          (click)="setOkLch(l, okLch.c, okLch.h, okLch.a)"
          *ngFor="let l of percentages"
          [style]="'background-color: oklch('+l+'% '+okLch.c+' '+okLch.h+' / '+okLch.a+'%)'">
        </div>
      </div>
      <div class="slider-tweak mat-thumb-only">
        <mat-slider
          [displayWith]="formatLabelLightness"
          discrete
          max="100"
          min="0"
          showTickMarks
          step="1">
          <input
            (ngModelChange)="onSliderChangedLightness($event)"
            [(ngModel)]="okLch.l" matSliderThumb>
        </mat-slider>
      </div>


      CHROMA (0-0.33)<br>
      <div class="grid-100-cols">
        <div
          (click)="setOkLch(okLch.l, c, okLch.h, okLch.a)"
          *ngFor="let c of chromas"
          [style]="'background-color: oklch('+okLch.l+'% '+c+' '+okLch.h+' / '+okLch.a+'%)'">
        </div>
      </div>
      <div class="slider-tweak mat-thumb-only">
        <mat-slider
          [displayWith]="formatLabelChroma"
          discrete
          max="0.33"
          min="0"
          showTickMarks
          step="0.01">
          <input
            (ngModelChange)="onSliderChangedChroma($event)"
            [(ngModel)]="okLch.c" matSliderThumb>
        </mat-slider>
      </div>

      HUE (0-360)<br>
      <div class="grid-100-cols">
        <div
          (click)="setOkLch(okLch.l, okLch.c, h)"
          *ngFor="let h of hueValues"
          [style]="'background-color: oklch('+okLch.l+'% '+okLch.c+' '+h+' / '+okLch.a+'%)'">
        </div>
      </div>
      <div class="slider-tweak mat-thumb-only">
        <mat-slider
          [displayWith]="formatLabelHue"
          discrete
          max="360"
          min="0"
          showTickMarks
          step="1">
          <input
            (ngModelChange)="onSliderChangedHue($event)"
            [(ngModel)]="okLch.h" matSliderThumb>
        </mat-slider>
      </div>


      ALPHA (0-100)<br>
      <div class="grid-100-cols">
        <div
          (click)="setOkLch(okLch.l, okLch.c, okLch.h, a)"
          *ngFor="let a of percentages"
          [style]="'background-color: oklch('+okLch.l+'% '+okLch.c+' '+okLch.h+' / '+ a +'%)'">
        </div>
      </div>
      <div class="slider-tweak mat-thumb-only">
        <mat-slider
          [displayWith]="formatLabelAlpha"
          discrete
          max="100"
          min="0"
          showTickMarks
          step="1">
          <input
            (ngModelChange)="onSliderChangedAlpha($event)"
            [(ngModel)]="okLch.a" matSliderThumb>
        </mat-slider>
      </div>


      <div>
        <input
          type="color"
          class="html-color-picker"
          id="favcolor"
          name="favcolor"
          [value]="'#ffffff'"
          (input)="colorPickerChanged($event)"
          (change)="colorPickerChanged($event)">
      </div>

      <div class="columns padding-top">
        <div [style.background]="cssString" class="resulting-color-div"></div>

        <div>
          <label>Resulting Color:</label><br>
          <strong [innerText]="cssString"></strong><br>
          <a *ngIf="url" [attr.href]="url" [innerText]="url" target="_blank"></a>
        </div>
      </div>
    </div>

  </div>


</div>
