<div class="va-welcome-div">

  <h1>
    Table Demos
  </h1>

  <section>
    <h2>Models</h2>
    <button mat-raised-button routerLink="/demo/simple">
      Simple
    </button>
    <button mat-raised-button routerLink="/demo/multisize">
      Row Height & Cell Width
    </button>
    <button mat-raised-button routerLink="/demo/style">
      Style
    </button>
    <button mat-raised-button routerLink="/demo/ultra">
      Style 2
    </button>
    <button mat-raised-button routerLink="/demo/objectarray">
      Object Array Demo
    </button>

    <button mat-raised-button routerLink="/demo/columndef">
      ColumnDef & Tree
    </button>
  </section>

  <section>
    <h2>Colspan / Rowspan</h2>
    <button mat-raised-button routerLink="/demo/rowandcolspan">
      Row and Colspan
    </button>
  </section>

  <section>
    <h2>Events</h2>
    <button mat-raised-button routerLink="/demo/mouseevent">
      Mouse Events
    </button>
  </section>


  <section>
    <h2>Checkbox Selection</h2>
    <button mat-raised-button routerLink="/demo/tablecheckbox">
      Simple Table Checkboxes
    </button>
    <button mat-raised-button routerLink="/demo/treecheckbox">
      Tree Checkboxes
    </button>
  </section>


  <section>
    <h2>Component Renderer</h2>
    <button mat-raised-button routerLink="/demo/componentrenderer">
      Angular Component Renderer
    </button>
  </section>


  <section>
    <h2>Filter</h2>
    <button mat-raised-button routerLink="/demo/idfilter">
      ID Filter
    </button>
  </section>


  <section>
    <h2>Sorting</h2>
    <button mat-raised-button routerLink="/demo/headerdblclick">
      Header Dblclick
    </button>
  </section>

  <section>
    <h2>Grouping</h2>
    <button mat-raised-button routerLink="/demo/olympic">
      Olympic
    </button>
    <button mat-raised-button routerLink="/demo/cellgroup">
      Cell groups
    </button>
  </section>

  <section>
    <h2>Selection</h2>
    <button mat-raised-button routerLink="/demo/cellselection">
      Cell Selection
    </button>
  </section>

  <section>
    <h2>Chunks</h2>
    <button mat-raised-button routerLink="/demo/chunksocket">
      Chunk (Socket)
    </button>
  </section>

</div>

