
.va-welcome-div {
  padding: 20px;
  text-align: left;
}

section {
  padding-top: 10px;
}

button {
  margin-right: 20px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 50px;
}

h2 {
  display: inline-block;
  width: 220px;
}
