:host {
  margin: 0;
  overflow-y: scroll;
  overflow-x: clip;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

h2 {
  font-size: 22px;
  margin: 0 0 20px 0;
}

.price {
  font-size: 40px;
  line-height: 40px;
}

.min-height-content {
  min-height: 100vh;
}

.app-card {
  max-width: 410px;
  height: 566px !important;
}

.center-all {
  display: grid;
  place-items: center;
}
.two-equal-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two-columns {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  > div.center {
    display: grid;
    place-items: center;
  }
}
.price-info-div,
.logo-div{
  padding: 26px 0 0 0;
}
.action-row {
  width: 100%;
  display: grid;
  grid-template-columns:  1fr minmax(100px, 33%);
}
mat-card-header {
  mat-icon {
    font-size: 40px;
    height: 49px;
    width: 49px;
  }
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    flex: 1 1;
    margin: 40px;
  }
}
