

.center {
  text-align: center;
}

.center-all {
  display: grid;
  place-items: center;
}

.clear-both {
  clear: both;
}

.gap {
  height: 40px;
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}


.ge-header {
  padding-bottom: 40px;
  margin-bottom: 40px;

  .logo-outer {
    width: 80px;
  }
}

.content {
  max-width: 1024px;
  --w2: 800px;
  --m: 2;
  --w3: 400px;
  --p: 1;

  display: grid;
  //noinspection CssInvalidFunction
  grid-template-columns:
    repeat(auto-fill,
      minmax(
          clamp(
            clamp(
              100% / (var(--m) + 1) + 0.1%,
              (var(--w2) - 100vw) * 1000,
              100% / (var(--p) + 1) + 0.1%
            ),
            (var(--w3) - 100vw) * 1000,
            100%
          ),
          1fr
      )
    );

  gap: 20px;

  > div {
    min-height: 300px;
  }
  p {
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 22px;
  }
}
