
.button-div {
    padding: 16px;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    button {
        width: 100px;
    }
}


.container-div {
    width: 1200px;
    height: 300px;
    background: transparent;
    margin: 0;
    padding: 0;
    display: block;
}