<div class="features">

  <div class="feature-box">
    <div class="left text-div">
      <h2>Interaction</h2>
      <ul>
        <li>Tree table (Hierarchical View)</li>
        <!--        <li>Grouped Columns (Hierarchical Header)</li>-->
        <li>Accessibility support: Keyboard Shortcuts</li>
        <li>Custom Filtering</li>
        <li>In-place Cell Editing</li>
        <li>Userdefined Key and Mouse Events</li>
      </ul>
    </div>
    <div class="right img-div ge-display-none-lt-sm">
      <img alt="." src="assets/screens/edit.png">
    </div>
  </div>

</div>
