<div class="header-height"></div>


<div class="ge-padding content">
  <h2 class="feature">Get Started / Svelte</h2>
  <p></p>


  <p>
    You can find it on stackblitz:
    <app-stackblitz [text]="'stackblitz-guiexpert-svelte-demo'"></app-stackblitz>
  </p>
  <p></p>

  <p> Add the following two NPM packages to your existing Svelte project
    (run this in your project root directory):
  </p>
  <source-code [language]="'language-shell'" [text]="text1"></source-code>

  <p> Add SvelteTable component to a template:
  </p>
  <source-code [language]="'language-markup'" [text]="text2"></source-code>

  <p> Import the following classes in your component:
  </p>
  <source-code [text]="text3"></source-code>

  <p> Add a <i>tableModel</i> property and a <i>onTableReady</i> method to the component:
  </p>
  <source-code [text]="text4"></source-code>


  <app-doc-and-demo-link></app-doc-and-demo-link>
  <app-back-to-getstarted></app-back-to-getstarted>
</div>
