<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    (closedStart)="onClosedStart()"
    (openedStart)="onOpenStart()"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!closed"
    class="sidenav"
    fixedInViewport>

    <mat-toolbar>
      <guiexpert-logo [mode]="'monocolor-black'" [size]="24"></guiexpert-logo>
      <span class="text-gradient">GuiExpert Table</span>
    </mat-toolbar>

    <mat-nav-list>
      <a href="#" mat-list-item routerLink="/welcome">
        <mat-icon>accessibility_new</mat-icon>
        Welcome
      </a>

      <!--a href="#" mat-list-item routerLink="/getstarted">
        <mat-icon>outlined_flag</mat-icon>
        Get Started
      </a-->

      <a href="#" mat-list-item routerLink="/demos">
        <mat-icon>filter_vintage</mat-icon>
        Demos
      </a>

      <a href="#" mat-list-item routerLink="/doc">
        <mat-icon>description</mat-icon>
        Documentation
      </a>

      <!--a href="#" mat-list-item routerLink="/generator">
        <mat-icon>factory</mat-icon>
        Generator
      </a-->

      <a href="#" mat-list-item routerLink="/api">
        <mat-icon>api</mat-icon>
        API
      </a>

      <a href="/themes/custom" mat-list-item target="_blank">
        <mat-icon>palette</mat-icon>
        Themes
      </a>

      <mat-divider></mat-divider>

      <a href="#" mat-list-item routerLink="/license">
        <mat-icon>gavel</mat-icon>
        License
      </a>

      <a href="#" mat-list-item routerLink="/pricing">
        <mat-icon>attach_money</mat-icon>
        Pricing
      </a>

      <mat-divider></mat-divider>

      <a
        *ngIf="lawInSidenavVisible"
        href="#"
        mat-list-item routerLink="/law/imprint">
        <mat-icon>import_contacts</mat-icon>
        Imprint<!-- Impressum-->
      </a>

      <a
        *ngIf="lawInSidenavVisible"
        href="#"
        mat-list-item
        routerLink="/law/cou">
        <mat-icon>local_police</mat-icon>
        Conditions of Use<!-- Nutzungbedingungen-->
      </a>

      <a
        *ngIf="lawInSidenavVisible"
        href="#"
        mat-list-item
        routerLink="/law/privacy">
        <mat-icon>sentiment_satisfied_alt</mat-icon>
        Privacy Notice<!-- Datenschutz-->
      </a>

      <mat-divider></mat-divider>


      <!-- bottom: -->
      <div class="fixed-at-bottom-left text-muted">
        <div>
          <small>Version: {{ version }}</small>
        </div>
        <div *ngIf="commitHash">
          <small>Commit: {{ commitHash }}</small>
        </div>
        <div>
          <small>&copy; 2023 GUI Expert GmbH</small>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    #matSidenavContent>

    <div
      *ngIf="demoActionBarVisible"
      class="ge-action-bar">
      <a
        [routerLink]="'/welcome'"
        title="Welcome">
        <guiexpert-logo
          [mode]="'monocolor-black'"
          [size]="30"></guiexpert-logo>
      </a>

      <button
        [routerLink]="'/demos'"
        color="accent"
        title="All Demos"
        class="ge-back-button"
        mat-button>
        Back to Demos
      </button>

      <button
        [routerLink]="[infoLink]"
        color="primary"
        title="Description"
        mat-flat-button>
        Description
      </button>

      <button
        [routerLink]="[runLink]"
        color="primary"
        title="Demo"
        mat-flat-button>
       Run
      </button>

      <button
        *ngIf="customThemePickerButtonVisible"
        (click)="openCustomThemePicker()"
        color="primary"
        title="Custom Theme"
        mat-flat-button>
        Themes...
<!--        <mat-icon>palette</mat-icon>-->
      </button>
    </div>

    <div class="doc-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


<header
  *ngIf="customHeaderVisible"
  [ngClass]="{
    'menu-closed': closed
  }">

  <button
    (click)="drawer.toggle()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <a href="#"
     class="ge-display-none-lt-sm"
     [ngClass]="{'hidden': !closed}"
     routerLink="/welcome">
    <guiexpert-logo [mode]="'monocolor-black'" [size]="30"></guiexpert-logo>
  </a>
  <div
    [ngClass]="{'hidden': !closed}"
    class="guiexpert-table-title text-gradient">GuiExpert Table
  </div>

  <div></div>

  <a href="#" routerLink="/welcome">
    <mat-icon class="ge-display-none-gt-xs">accessibility_new</mat-icon>
    <span class="ge-display-none-lt-sm">Welcome</span>
  </a>

  <a href="#" routerLink="/demos">
    <mat-icon class="ge-display-none-gt-xs">filter_vintage</mat-icon>
    <span class="ge-display-none-lt-sm">Demos</span>
  </a>

  <a href="#" routerLink="/doc">
    <mat-icon class="ge-display-none-gt-xs">description</mat-icon>
    <span class="ge-display-none-lt-sm">Doc</span>
  </a>

  <a href="#" routerLink="/api">
    <mat-icon class="ge-display-none-gt-xs">api</mat-icon>
    <span class="ge-display-none-lt-sm">API</span>
  </a>

  <!--a href="#" routerLink="/generator">
    <mat-icon class="ge-display-none-gt-xs">factory</mat-icon>
    <span class="ge-display-none-lt-sm">Generator</span>
  </a-->

  <a href="#" routerLink="/license">
    <mat-icon class="ge-display-none-gt-xs">gavel</mat-icon>
    <span class="ge-display-none-lt-sm">License</span>
  </a>

  <a href="#" routerLink="/law/imprint">
    <mat-icon class="ge-display-none-gt-xs">import_contacts</mat-icon>
    <span class="ge-display-none-lt-sm">Imprint</span>
  </a>

  <div></div>

  <a href="https://github.com/guiexperttable/guiexpert" target="_blank">
    <svg viewBox="0 0 16 16" fill="currentColor" role="img" aria-label="GitHub Logo" width="22" height="22">
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
    </svg>
  </a>

  <a href="https://twitter.com/guiexpertgmbh" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" fill="currentColor"
         aria-label="Twitter Logo" width="22" height="22">
      <path
        d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"></path>
    </svg>
  </a>
  &nbsp;
  &nbsp;
</header>
