# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish svelte-table

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - run: pnpm install

      - name: Build package
        run: pnpm --filter svelte-table... build

      - name: Publish package
        run: pnpm -r --filter svelte-table publish --no-git-checks --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
